/*
 * 商场样式控件less
 */
.merchant-panel {
  position: relative;
  margin: 6px 6px 3px 6px;
  width: 306px;
  overflow: hidden;
  visibility: hidden;
  border: 1px solid #e0e0e0;
}
.merchant-panel .swipe-wrap {
  position: relative;
  overflow: hidden;
  background: #fff;
}
.merchant-panel .swipe-wrap .figure {
  position: relative;
  background: #fff;
  float: left;
  text-align: left;
}
.merchant-panel .swipe-wrap .figure .figure-style {
  padding: 10px;
  line-height: 20px;
}
.merchant-panel .swipe-wrap .figure .figure-style .merchant-title {
  font-size: 17px;
  color: #00f;
  text-decoration: none;
}
.merchant-panel .swipe-wrap .figure .figure-style .merchant-desc {
  margin-top: 5px;
  font-size: 14px;
  color: #444;
}
.merchant-panel .swipe-wrap .figure .figure-style .merchant-desc a {
  margin-left: 5px;
  color: #00f;
  text-decoration: none;
}
.merchant-panel .dots {
  text-align: center;
  list-style: none;
  margin: 0;
  padding-bottom: 8px;
  background: #fff;
}
.merchant-panel .dots li {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 10px;
  background: #eee;
  margin: 0 5px;
  cursor: pointer;
}
.merchant-panel .dots li.on {
  background: #2788da;
}
